<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797885679321-79n9f1jm5v54uj4k94b4cdi2qftojj3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797885679321-79n9f1jm5v54uj4k94b4cdi2qftojj3l</string>
	<key>API_KEY</key>
	<string>AIzaSyBcgOtR3UZplTW_22oxKmWsI0H5WJnmONE</string>
	<key>GCM_SENDER_ID</key>
	<string>797885679321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dxpress.app</string>
	<key>PROJECT_ID</key>
	<string>dxpress-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>dxpress-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797885679321:ios:298e17f76afc501e0960c8</string>
	<key>DATABASE_URL</key>
	<string>https://dxpress-v2-default-rtdb.firebaseio.com</string>
</dict>
</plist>